html,
body {
    background-color: lightpink;

    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.header {
    background-color: aquamarine;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height:75px;
}
.content {
    margin-top: 6.25%;
    margin-left: 25%;
    max-width: 50%;
    background-color: blue;
    height: 450px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly

}

.gen-container {
    max-width: 50%;
    background-color: lightgray;
}
#gen-input {
    display:flex;
    flex-direction: column;
}

.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    max-width: 50%;
}

.footer {
    background-color: orange;
    margin-top: auto;
}