html,
body {
    background-color: lightpink;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 22px;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.header {
    background-color: aquamarine;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height:75px;
}
.content {
    margin-top: 3%;
    margin-left: 25%;
    max-width: 50%;
    background-color: blue;
    border-radius: 24px;
    height: 550px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly

}

.gen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    max-width: 50%;
    border-radius: 24px;
    background-color: lightgray;
}

#text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.desc {
    margin: -1px;
}

#gen-input {
    display:flex;
    flex-direction: column;
    align-items: center;;
    width: 50%;
}
#input {
    width: 25%;
}
#input-button {
    width: 50%;
    display:flex;
    justify-content: center;
}

.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    max-width: 100%;
    border-radius: 24px;
    padding: 6px;
}

.footer {
    background-color: orange;
    margin-top: auto;
    
}
#footer-left {
    margin-left: 200px;
    
}